<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="index.html">Index</a>
    
    <p>Platillos favoritos</p>
    <ul>
        <li>CH V
            <ol>
                <li>salsa</li>
                <li>tortillas</li>
            </ol>
        </li>
        <li>CH R
            <ol>
                <li>salsa</li>
                <li>tortillas</li>
            </ol>
        </li>
        <li>Rancheros
            <ol>
                <li>huevos</li>
                <li>mexicana</li>
            </ol>
        </li>
    </ul>
</body>
</html>