<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="index.html">Index</a>
    
    <p>Platillos favoritos</p>
    <ul>
        <li>CH V
            <ol>
                <li>salsa</li>
                <li>tortillas</li>
            </ol>
        </li>
        <li>CH R
            <ol>
                <li>salsa</li>
                <li>tortillas</li>
            </ol>
        </li>
        <li>Rancheros
            <ol>
                <li>huevos</li>
                <li>mexicana</li>
            </ol>
        </li>
    </ul>

    <!--
    <img src="../imgs/RA-serviciodomicilio.jpg"
    srcset="../imgs/favicon.png 1x, ../imgs/RA-cafeolla.jpg 3x"
    alt="Imagen por densidad de pixeles">
        -->
    <picture>
        <source srcset="../imgs/RA-cafeolla.jpg" media="(min-width:800px)">
        <source srcset="../imgs/RA-serviciodomicilio.jpg" media="(min-width:500px)">
        <img src="../imgs/favicon.png">
    </picture>
<!--Microdatos o datos estructurados-->
    <article itemscope itemtype="http://schema.org/Blog">
        <h2>Historia del Rincón</h2>
        <p>Hace un par de años...</p>
        <footer>
            <p itemprop="author">Arellano</p>
        </footer>

    </article>
</body>
</html>